.studio-right-panel {
  width: 30%;
  border-left: 1px solid #ccc;
  padding: 25px;
  margin-top: 45px; // si on a la topbar en absolute

  h4 {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .prop-header {
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .prop-block {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .prop-block-group {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .style-input {
    display: flex;
    align-items: center;
    margin: 4px 0;

    label {
      margin-right: 8px;
      min-width: 200px;
    }

    input,
    select {
      flex: 1;
    }
  }

  .delete-btn {
    margin-top: 16px;
    color: red;
    border: 1px solid red;
    background: #fff;
    cursor: pointer;
    padding: 4px 8px;
  }
}