.player-root {
  width: 100%;
  height: 100%;
  overflow: auto; /* Permet uniquement le scroll interne au Player */
  display: flex; /* Assure un comportement adaptatif */
  flex-direction: column; /* Adapte la direction des enfants */
  background-color: #f9f9f9; /* Fond par défaut */
  box-sizing: border-box;
  padding: 8px; /* Ajoute un peu d'espace autour */
}

.player-component {
  cursor: pointer;

  &:hover {
    outline: 1px dashed #bbb;
  }

  &.selected {
    outline: 2px dashed blue;
    outline-offset: -2px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%; /* Occupe tout l'espace disponible */
}

.text {
  display: inline-block;
}

.button {
  cursor: pointer;
}

.unknown-type {
  color: red;
  font-weight: bold;
}

.player-error {
  color: red;
  text-align: center;
  margin-top: 20px;
}
