.studio-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: sans-serif;
  position: relative; // pour la topbar absolute
}

/* Barre du haut */
.studio-topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

/* Panneau de gauche (arbre) */
.studio-left-panel {
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 8px;
  margin-top: 48px;
  /* pour laisser la place à la topbar */
}

/* Panneau central (Player) */
.studio-center-panel {
  width: 50%;
  padding: 8px;
  min-width: 400px;
  margin-top: 48px;
}

.studio-player-wrapper {
  border: 1px solid #ddd;
  height: 80vh;
  overflow: auto;
}